<head>
    <title>Image Upload</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .container {
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Image Upload</a>
        </div>
    </nav>
    <div class="container">
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-lg btn-success">Upload</button>
        </form>

        {% if obj %}
        <h3>Succesfully uploaded : {{img_obj.caption}}</h3>
        <img src="{{ obj.image.url}}" alt="image" class="img-thumbnail" >
        {% endif %}
        <hr>

        {% for x in image %}
        {% if forloop.first %}<div class="row ">{% endif %}
            <div class="col-lg-4 col-md-4 col-12" >
        <div class="text-center mt-2">
            <img src="{{x.image.url}}" height="70%" width="70%" class="img-thumbnail" alt="...">
            <h2 class="text-center" >{{x.caption}}</h2></div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class=row>{% endif %}
            {% if forloop.last %}</div>{% endif %}
        {% endfor %}

    </div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHj6SAw2dka7lH/ZcDTRt9qFhU0v6kpq2EUcv/9O5GmKsnbPbEHHj9C" crossorigin="anonymous"></script>
</body>